// bootstrap vars
$card-spacer-x: .20rem;

$grid-gutter-width: 10px;
$headings-margin-bottom: 2rem;

@import "~bootstrap/scss/bootstrap";

// custom

$card-height: 100px;


.doc {
    &--is-dragging {
        .doc-row:not(.doc-row--is-dragged-over) {
            background-color: lighten($color: $success, $amount: 55);
        }
    }
}

.doc-card {
    position: relative;
    min-height: $card-height;
    max-width: 140px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 0;
    padding: 0;
    z-index: 999;
    transition: all .25s;
    &--small {
        max-width: 100px;
        margin-bottom: 8px; 
    }
    &--floating, &:hover {
        box-shadow: 0px 0px 10px #c4c4c4;
        transform: scale(1.05);
        background-color: transparent !important;
    }
    &__delete, &__settings-btn {
        z-index: -1;
        opacity: 0;

        position: absolute;
        top: 2px;
        transition: all .15s;
        cursor: pointer;
        color: #ccc;
        &:hover {
            color: #333;
            transform: scale(1.1);
        }
    }
    &__delete {
        left: 4px;
        &:hover {
            color: $danger;
        }
    }
    &__settings-btn {
        right: 4px;
    }
    &:hover {
        .doc-card__settings-btn, .doc-card__delete {
            opacity: 1;
            z-index: 1;
        }
    }
}

.doc-row {
    position:relative;
    min-height: $card-height + 5px;
    border: none;
    transition: background-color .2s ease;
    &-col {
    }
    &__empty-text {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: darken($light, 25);
    }
    &--is-dragged-over {
        background-color: lighten($color: $success, $amount: 50);
    }
    &--is-empty:not(&--is-dragged-over) {
        border: 2px dashed darken($light, 10);
        background-color: $light;
        @media print {
            display: none;
        }
    }
}

.doc-title {
    text-align: center;
}

.doc-row-delete {
    position: absolute;
    top: 0;
    right: 0;
}

.draggable-wrapper {
    position: relative;
    z-index: 1;
}


img {
    max-width: 100%;
}

button {
    &.clean-btn {
        background: none;
        border: none;
    }
}

.cards-bank {
    &--dragging {
        .doc-card:not(.doc-card--floating){
            opacity: .4;
        }
    }
}

.settings-pane {
    position: relative;
    z-index: 1;
    border-right: 1px solid #eaeaea;
    height: 100%;
    padding-right: 1.5rem;
    margin-right: 1rem;
    &--disabled {
        opacity: .4;
    }
}

.card-settings {
    &__close {
        position: absolute;
        top: .2rem;
        right: 1.25rem;
        font-size: 20px;
        opacity: 0.3;
        transition: all .25s;
        &:hover {
            opacity: 1;
        }
    }
}

@media print {
    .btn, .settings-pane, .hide-for-print {
        display: none;
    }
    @page { margin: 0; }
    body { margin: 1.6cm; }
}