// bootstrap vars
$card-spacer-x: .20rem;

$grid-gutter-width: 10px;
$headings-margin-bottom: 2rem;

@import "~bootstrap/scss/bootstrap";

// custom

$card-height: 100px;


.doc {
    &--is-dragging {
        .doc-row:not(.doc-row--is-dragged-over) {
            background-color: lighten($color: $success, $amount: 55);
        }
    }
}
@import "./scss/doc-card";
@import "./scss/doc-row";



.doc-title {
    text-align: center;
}

.doc-row-delete {
    position: absolute;
    top: 0;
    right: 0;
}

.draggable-wrapper {
    position: relative;
    z-index: 1;
}


img {
    max-width: 100%;
}

button {
    &.clean-btn {
        background: none;
        border: none;
    }
}

.cards-bank {
    &--dragging {
        .doc-card:not(.doc-card--floating){
            opacity: .4;
        }
    }
}

.settings-pane {
    position: relative;
    z-index: 1;
    border-right: 1px solid #eaeaea;
    height: 100%;
    padding-right: 1.5rem;
    margin-right: 1rem;
    &--disabled {
        opacity: .4;
    }
}

.card-settings {
    &__close {
        position: absolute;
        top: .2rem;
        right: 1.25rem;
        font-size: 20px;
        opacity: 0.3;
        transition: all .25s;
        &:hover {
            opacity: 1;
        }
    }
}

.color-input-field {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 6px solid #fff;
    transition: all .1s;
    cursor: pointer;
    &--selected, &:hover {
        border-color: #e7e7e7;
    }
}

@media print {
    .btn, .settings-pane, .hide-for-print {
        display: none;
    }
    @page { margin: 0; }
    body { margin: 1.6cm; }
}