// bootstrap vars
$card-spacer-x: .10rem;

$grid-gutter-width: 10px;

@import "~bootstrap/scss/bootstrap";



// custom

$card-height: 100px;

.doc-card {
    min-height: $card-height;
    max-width: 140px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 0;
    padding: 0;
    &--small {
        max-width: 100px;
        margin-bottom: 8px; 
    }
    &__delete {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -100%;
        transition: .25s ease;
    }
    &:hover {
        img {
            opacity: .4;
            transition: all .25s;
        }
        .doc-card__delete {
            bottom: 10%;
        }
    }
}

.doc-row {
    position:relative;
    min-height: $card-height + 5px;
    border: none;
    &-col {
    }
    &__empty-text {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: darken($light, 25);
    }
    &--is-dragged-over {
        background-color: lighten($color: $success, $amount: 55);
    }
    &--is-empty {
        border: 2px dashed darken($light, 10);
        @media print {
            display: none;
        }
    }
}

.doc-row-delete {
    position: absolute;
    top: 0;
    right: 0;
}


img {
    max-width: 100%;
}

@media print {
    .btn, .settings-pane {
        display: none;
    }
    @page { margin: 0; }
    body { margin: 1.6cm; }
}