.doc-row {
    position:relative;
    min-height: $card-height + 5px;
    border: none;
    transition: background-color .2s ease;
    &-col {
    }
    &__empty-text {
        text-align: center;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: darken($light, 25);
    }
    &--is-dragged-over {
        background-color: lighten($color: $success, $amount: 50);
        .doc-card-add {
            opacity: 0;
        }
    }
    &--is-empty:not(&--is-dragged-over) {
        border: 2px dashed darken($light, 10);
        background-color: $light;
        @media print {
            display: none;
        }
    }
}