.doc-card-add, .doc-card {
    position: relative;
    min-height: $card-height;
    max-width: 140px;
    margin-bottom: 15px;
    cursor: pointer;
}
.doc-card {
    overflow: hidden;
    border: 0;
    padding: 0;
    z-index: 999;
    //transition: all .25s;
    &--small {
        max-width: 100px;
        margin-bottom: 8px; 
    }
    &--read-only {
        max-width: 100%;
    }
    &--floating, &:hover {
        box-shadow: 0px 0px 10px #c4c4c4;
        transform: scale(1.05);
        background-color: transparent !important;
    }
    &--border-solid {
        border: 4px solid;
    }
    &--border-dashed {
        border: 4px dashed;
    }
    &__delete, &__settings-btn {
        z-index: -1;
        opacity: 0;

        position: absolute;
        top: 2px;
        transition: all .15s;
        cursor: pointer;
        color: rgb(179, 179, 179);
        &:hover {
            color: #333;
            transform: scale(1.1);
        }
    }
    &__delete {
        left: 4px;
        &:hover {
            color: $danger;
        }
    }
    &__settings-btn {
        right: 4px;
    }
    &__image {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .25s;
            background: rgba(#fff, .8);
            opacity: 0;
        }
    }
    
    &:hover {
        .doc-card__settings-btn, .doc-card__delete {
            opacity: 1;
            z-index: 2;
        }
        .doc-card__image::before {
            opacity: 1;
            z-index: 1;
        }
    }
}

.doc-card-add {
    $add-color: rgb(179, 179, 179);
    border: 5px dashed $add-color;
    width: 120px;
    margin: 5px;
    z-index: 999;
    display: flex;
    align-items: center;   
    justify-content: center;
    opacity: .5;
    transition: all .25s;
    > span {
        color: $add-color;
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
    }
    &:hover {
        opacity: 1;
    }
    @media print {
        display: none;
    }
}